* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sailec-Bold,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

 .social {
     color: #a64dff;
     display: flex;
     align-items: center;
     font-size: 2rem;
     width: 50%;
     justify-content: center;
}

.social a {
    margin: 1.2rem;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.logo img {
    height: 150px;
}
.secoes {
    display: flex;
    justify-content: center;
}
.secoes {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.calc {
    display: flex;
    justify-content: center;
}
.form, .infos {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15rem;
}

.infos button {
    margin-top: 7.5rem;
}

.form input {
    margin: .5rem 0 1rem 0;
    border: none;
    border-bottom: 1px solid  #a64dff;
    outline: none;
}

button  {
    width: 10rem;
    height: 3rem;
    border-radius: 2px;
    background: #8743cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: n;
    box-shadow: 0 8px 16px rgba(135, 67, 204, 0.24);
}


.size {
    width: 50%;;
}

.text {
    text-align: center;
    font-size: 1.2rem;
}

.text h1 {
    margin-bottom: 1rem;
}

a {
    color: #a64dff;
    font-weight: bold;
    text-decoration: none;
}

#resultado {
    margin-top: 1rem;
}